In [1]:
import pandas as pd
import numpy as np

In [2]:
from utils import *

In [3]:
sheet_url = 'https://docs.google.com/spreadsheets/d/1LDKHVqSIoBeICC7VTxj1hmOcin67YgIG2h3WPbD1PAo/gviz/tq?tqx=out:csv&sheet=entreprises'

In [4]:
entreprises = (
    pd
    .read_csv(
        sheet_url,
        dtype={'siren': str}
    )
    .assign(
        siren = lambda df: df.siren.str.pad(9, 'left', '0')
    )
)

# entreprises

In [5]:
comptes = (
    pd
    .read_csv('data/ratios_inpi_bce.csv', sep=";",dtype={'siren': str})
    .assign(
        siren = lambda df: df.siren.str.pad(9, 'left', '0')
    )
    .query('type_bilan == "C"')
    .assign(
        date_cloture_exercice = lambda df: pd.to_datetime(df.date_cloture_exercice),
        cloture_exercice_annee = lambda df: pd.to_datetime(df.date_cloture_exercice).dt.to_period('y')
    )
)

# comptes

In [6]:
ca = (
    entreprises
    .query('~siren.isna()')
    .set_index('siren')
    [['nom']]
    .pipe(lambda df: (
        df
        .join(
            df
            .join(comptes.set_index('siren'))
            .pivot_table(
                index = 'siren',
                columns = 'cloture_exercice_annee',
                values = 'chiffre_d_affaires',
                aggfunc= 'last'
            )
        )
    ))
)

(
    ca
    .pipe(format_table)
)

In [7]:
(
    ca
    .select_dtypes(include=np.number)
    .sum()
    .to_frame()
    .T
    .pipe(format_table)
)

In [8]:
rn = (
    entreprises
    .query('~siren.isna()')
    .set_index('siren')
    [['nom']]
    .pipe(lambda df: (
        df
        .join(
            df
            .join(comptes.set_index('siren'))
            .pivot_table(
                index = 'siren',
                columns = 'cloture_exercice_annee',
                values = 'resultat_net',
                aggfunc= 'last'
            )
        )
    ))
)

rn.pipe(format_table)

In [9]:
(
    rn
    .select_dtypes(include=np.number)
    .sum()
    .to_frame()
    .T
    .pipe(format_table)
)