In [1]:
import pandas as pd
import numpy as np

In [2]:
from utils import *

In [3]:
# https://docs.google.com/spreadsheets/d/1zmdPsrOou_hFo8g7Zf-3jC6sZ-omVE_j69MCP3L1dDg/edit?usp=sharing

entreprises = (
    pd
    .read_csv('https://docs.google.com/spreadsheets/d/1zmdPsrOou_hFo8g7Zf-3jC6sZ-omVE_j69MCP3L1dDg/gviz/tq?tqx=out:csv&sheet=entreprises')
    .set_index('siren')
)

entreprises

,nom,parent,wikipedia,annee rachat,creation
siren,,,,,
439546011,Reworld Media,NaN,https://fr.wikipedia.org/wiki/Reworld_Media,NaN,NaN
602063323,Hopscotch Groupe,Reworld Media,https://fr.wikipedia.org/wiki/Hopscotch_Groupe,NaN,NaN
437582927,Hopscotch,Hopscotch Groupe,NaN,NaN,NaN
434792032,Heaven,Hopscotch Groupe,NaN,2010.0,NaN
503419350,Heaven Conseil,Heaven,NaN,NaN,NaN
801146887,Wami Concept,Heaven Conseil,NaN,NaN,NaN
301546966,Le Public Systeme Cinema,Hopscotch Groupe,NaN,NaN,NaN
380972497,Le Public Systeme Ressources,Hopscotch Groupe,NaN,NaN,NaN
422322479,Hopscotch Congres,Hopscotch Groupe,NaN,NaN,NaN
441953981,Hopscotch Decideurs,Hopscotch Groupe,NaN,NaN,NaN
441877487,Hopscotch Rouge - Service Juridique,Hopscotch Groupe,NaN,NaN,NaN
449389667,Human To Human,Hopscotch Groupe,NaN,NaN,NaN
451009583,Alizeum,Hopscotch Groupe,NaN,NaN,NaN
511426249,Aucafe,Hopscotch Groupe,NaN,NaN,NaN
505346890,Uniteam Sport (Uniteam Sport),Hopscotch Groupe,NaN,NaN,NaN
383723681,Sagarmatha,Hopscotch Groupe,NaN,NaN,NaN
453271686,Sport & Co,Hopscotch Groupe,NaN,NaN,NaN
477494371,Mondadori France,Reworld Media,https://fr.wikipedia.org/wiki/Mondadori_France,2019.0,NaN
825067705,Reworld Media Services,Reworld Media,NaN,NaN,2016.0
824649495,Unify,Reworld Media,NaN,2022.0,NaN
434134276,Unify Studio,Unify,NaN,NaN,NaN
518897749,Unify Advertising,Unify,NaN,NaN,NaN
514635671,Unify Digital Factory,Unify,NaN,NaN,NaN
423780113,Aufeminin,Unify,NaN,NaN,NaN
562013524,Doctissimo,Unify,NaN,NaN,NaN
793167974,Reworld Media Factory,Reworld Media,NaN,NaN,NaN
452791262,Reworld Media Magazines,Reworld Media,NaN,NaN,NaN
814841516,Reworld Media Connect,Reworld Media,NaN,NaN,NaN
808368666,Reworld Media Ventures,Reworld Media,NaN,NaN,NaN
892491127,Reworld Media Campus,Reworld Media,NaN,NaN,NaN
892491507,Reworld Media Edition,Reworld Media,NaN,NaN,NaN
825067705,Reworld Media Services,Reworld Media,NaN,NaN,NaN
419648902,Les Publications Grand Public,Reworld Media,NaN,NaN,NaN
808385744,Montreux Publications,Reworld Media,NaN,NaN,NaN
892491515,Media Proximite,Reworld Media,NaN,NaN,NaN
884381245,La Financiere Supersoluce Holding (Lfsh),Reworld Media,NaN,NaN,NaN
907933980,Rm Dev 9,Reworld Media,NaN,NaN,NaN
851764787,Event Flow,Reworld Media,NaN,NaN,NaN
478052228,Sport Strategies,Reworld Media,NaN,NaN,NaN
894357268,Claim,Reworld Media,NaN,NaN,NaN
820123859,Leads Lab (Mpr),Reworld Media,NaN,NaN,NaN
802743781,R.M.P.,Reworld Media,NaN,NaN,NaN
894689421,Social Playground,Reworld Media,NaN,NaN,NaN
432067601,Media365 (Sportifsonline),Reworld Media,NaN,NaN,NaN
824556633,Sporever Ventures,Reworld Media,NaN,NaN,NaN
792570400,Apps Tv,Reworld Media,NaN,NaN,NaN
814841557,Livecars,Reworld Media,NaN,NaN,NaN
893537589,Edisound,Reworld Media,NaN,NaN,NaN
913596888,Media Commerce,Reworld Media,NaN,NaN,NaN
907945646,Omniiz,Reworld Media,NaN,NaN,NaN
534406087,Presse Manette,Reworld Media,NaN,NaN,NaN
485007843,Eeple,Reworld Media,NaN,NaN,NaN
803425263,4B Media,Reworld Media,NaN,NaN,NaN
907516900,Better Life,Reworld Media,NaN,NaN,NaN
347863060,Editions Reworld Axel Springer (Eras),Reworld Media,NaN,NaN,NaN
790117816,Mlp,Reworld Media,NaN,NaN,NaN

In [4]:
comptes = (
    pd
    .read_csv('data/ratios_inpi_bce.csv', sep=";")
    .query('type_bilan == "C"')
    .assign(
        date_cloture_exercice = lambda df: pd.to_datetime(df.date_cloture_exercice),
        cloture_exercice_annee = lambda df: pd.to_datetime(df.date_cloture_exercice).dt.to_period('y')
    )
)

#comptes

In [5]:
ca = (
    entreprises
    [['nom']]
    .join(
        entreprises
        .join(comptes.set_index('siren'))
        .pivot_table(
            index = 'siren',
            columns = 'cloture_exercice_annee',
            values = 'chiffre_d_affaires',
            aggfunc= 'last'
        )
    )
    .loc[entreprises.index]
    #.set_index('nom')
)

ca.pipe(format_table)

In [6]:
(
    ca
    .select_dtypes(include=np.number)
    .sum()
    .to_frame()
    .T
    .pipe(format_table)
)

In [7]:
(
    entreprises
    .join(comptes.set_index('siren'))
    .pivot_table(
        index = 'nom',
        columns = 'cloture_exercice_annee',
        values = 'chiffre_d_affaires'
    )
    .sum()
    .to_frame()
    .T
    .style
    .format(thousands = " ", precision = 0)
)

In [8]:
rn = (
    entreprises
    [['nom']]
    .join(
        entreprises
        .join(comptes.set_index('siren'))
        .pivot_table(
            index = 'siren',
            columns = 'cloture_exercice_annee',
            values = 'resultat_net',
            aggfunc= 'last'
        )
    )
    .loc[entreprises.index]
    #.set_index('nom')
)

rn.pipe(format_table)

In [9]:
(
    rn
    .select_dtypes(include=np.number)
    .sum()
    .to_frame()
    .T
    .pipe(format_table)
)